#gallery {
  width: 1200px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.gallery__item {
  width: 85%;
  padding: 1%;
}

.gallery__item:first-child {
  width: 100%;
}

.gallery__img {
  display: block;
  width: 100%;
  height: auto;
}
